<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee">
  <display-name>Project</display-name>
  <welcome-file-list>
    <welcome-file>/WEB-INF/JSP/index.jsp</welcome-file>
  </welcome-file-list>

    <!-- The front controller of this Spring Web application, responsible for handling all application requests -->
    <servlet>
        <servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/dispatcher-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

  <!--<servlet>-->
    <!--<servlet-name>UniversityRanking</servlet-name>-->
    <!--<servlet-class>org.ollynural.project.UniversityRanking</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>UniversityRanking</servlet-name>-->
    <!--<url-pattern>/UniversityRanking/*</url-pattern>-->
  <!--</servlet-mapping>-->

  <!--<servlet>-->
  	<!--<servlet-name>Player</servlet-name>-->
  	<!--<servlet-class>org.ollynural.project.Player</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>Player</servlet-name>-->
    <!--<url-pattern>/Player</url-pattern>-->
  <!--</servlet-mapping>-->

  <!--<servlet>-->
    <!--<servlet-name>Register</servlet-name>-->
    <!--<servlet-class>org.ollynural.project.Register</servlet-class>-->
  <!--</servlet>-->
  <!--<servlet-mapping>-->
    <!--<servlet-name>Register</servlet-name>-->
    <!--<url-pattern>/Register/*</url-pattern>-->
  <!--</servlet-mapping>-->

  <!--<resource-ref>-->
  	<!--<description>Connector to LeagueSchema</description>-->
  	<!--<res-ref-name>jdbc/league_database_schema</res-ref-name>-->
  	<!--<res-type>java.sql.DriverManager</res-type>-->
  	<!--<res-auth>Container</res-auth>-->
  <!--</resource-ref>-->

</web-app>